* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 58%;
  height: 100%;
  margin: auto;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper img {
  height: 15px;
}
header .wrapper img:hover {
  cursor: pointer;
}
header .wrapper nav {
  color: #868686;
  display: flex;
  align-items: baseline;
}
header .wrapper nav a {
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #868686;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .wrapper nav a .active {
  width: 20px;
  height: 2px;
  background-color: #f72b0c;
  visibility: hidden;
}
header .wrapper nav a span {
  display: inline-block;
  padding: 0 14px;
  margin-top: 10px;
}
header .wrapper nav a span:last-child {
  margin-top: 3px;
}
header .wrapper nav a:hover {
  color: #f72b0c;
}
header .wrapper nav a:hover .active {
  color: #f72b0c;
  visibility: visible;
}
header .wrapper nav i {
  font-size: 10px;
  padding-left: 25px;
  border-left: 1px solid #868686;
}
header .wrapper nav i:hover {
  color: #f72b0c;
  cursor: pointer;
}

#jumbotron {
  width: 100%;
  height: 450px;
  background-image: url("../images/slider-1-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#jumbotron #text_jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#jumbotron #text_jumbotron #conference_on {
  font-size: 41px;
  margin-top: 103px;
  margin-bottom: 15px;
}
#jumbotron #text_jumbotron #social_networks {
  font-size: 65px;
  font-weight: 900;
  padding-bottom: 23px;
}
#jumbotron #text_jumbotron #white_lane {
  height: 3px;
  width: 395px;
  background-color: white;
  margin-bottom: 10px;
}
#jumbotron #text_jumbotron #dates_conferences {
  width: 395px;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  font-size: 14px;
}
#jumbotron #text_jumbotron #register_btn {
  width: 159px;
  height: 42px;
  background-color: #f72b0c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 30px;
}
#jumbotron #text_jumbotron #register_btn:hover {
  background-color: #F6523A;
  cursor: pointer;
}

#who_we_are {
  width: 100%;
  height: 201px;
}
#who_we_are .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#who_we_are .who_what_why {
  width: 295px;
  height: 201px;
  display: flex;
  padding-right: 20px;
}
#who_we_are .who_what_why .icon_who {
  width: 45%;
  padding-top: 47px;
  font-size: 21px;
}
#who_we_are .who_what_why .icon_who i {
  color: #9c9c9c;
}
#who_we_are .who_what_why .text_who {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
#who_we_are .who_what_why .text_who .title {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 13px;
}
#who_we_are .who_what_why .text_who .paragraph {
  padding-bottom: 20px;
  color: #9c9c9c;
  font-size: 13px;
}
#who_we_are .who_what_why .text_who .learn_more {
  text-decoration: none;
  color: #f72b0c;
  font-size: 13px;
  line-height: 31px;
}

#countdown {
  width: 100%;
  height: 370px;
  background-image: url(../images/coutdown-bg1.jpg);
  background-size: cover;
  background-position: center;
}
#countdown .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#countdown .wrapper #days_hours {
  display: flex;
  flex-direction: row;
  padding-bottom: 42px;
}
#countdown .wrapper #days_hours .days {
  width: 141px;
  height: 106px;
  background-color: #2E2C2C;
  opacity: 0.9;
  border-radius: 5px;
  margin-right: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#countdown .wrapper #days_hours .hours_mins_secs {
  width: 112px;
  height: 106px;
  background-color: #403d3b;
  opacity: 0.9;
  border-radius: 5px;
  margin-right: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#countdown .wrapper #days_hours .number {
  color: white;
  font-size: 43px;
  font-weight: 900;
  padding-bottom: 3px;
}
#countdown .wrapper #days_hours .text_number {
  text-transform: uppercase;
  color: white;
  font-size: 11px;
}
#countdown .wrapper #subscribe {
  text-transform: uppercase;
  color: #403d3b;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 32px;
}
#countdown .wrapper #form_register {
  display: flex;
}
#countdown .wrapper #form_register input {
  width: 304px;
  height: 39px;
  margin-right: 11px;
  padding: 16px;
  font-size: 11px;
  border: none;
}
#countdown .wrapper #form_register input::-moz-placeholder {
  color: #c6c1bd;
}
#countdown .wrapper #form_register input:-ms-input-placeholder {
  color: #c6c1bd;
}
#countdown .wrapper #form_register input::placeholder {
  color: #c6c1bd;
}
#countdown .wrapper #form_register .btn_subscribe {
  width: 104px;
  height: 39px;
  text-transform: uppercase;
  background-color: #f72b0c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 2px solid #4A4A46;
}

#speakers {
  width: 100%;
  height: 378px;
  background-color: #F3F3F3;
}
#speakers #speakers_chevron {
  padding-top: 60px;
  padding-bottom: 43px;
  display: flex;
  justify-content: space-between;
}
#speakers #speakers_chevron #speakers_img {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
}
#speakers #speakers_chevron #speakers_chevrons {
  display: flex;
}
#speakers #speakers_chevron #speakers_chevrons #chevron_left {
  width: 26px;
  height: 26px;
  background-color: #f72b0c;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7px;
  cursor: pointer;
}
#speakers #speakers_chevron #speakers_chevrons #chevron_right {
  width: 26px;
  height: 26px;
  background-color: #f72b0c;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7px;
  cursor: pointer;
}
#speakers #personages {
  display: flex;
  justify-content: space-between;
}
#speakers #personages #speakers_faces {
  width: 191px;
  height: 202px;
}
#speakers #personages #speakers_faces img {
  width: 191px;
}
#speakers #personages #speakers_faces .personage_pic {
  width: 191px;
  height: 138px;
  background-size: contain;
  background-repeat: no-repeat;
}
#speakers #personages #speakers_faces .personage_pic .layover {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 43, 12, 0.7);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#speakers #personages #speakers_faces .personage_pic .layover i {
  padding: 0 8px;
}
#speakers #personages #speakers_faces .personage_pic:hover .layover {
  visibility: visible;
  cursor: pointer;
}
#speakers #personages #speakers_faces #personage_name {
  margin-top: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
}
#speakers #personages #speakers_faces #personage_profession {
  text-align: center;
  font-size: 12px;
  color: #868686;
}

#program {
  width: 100%;
  height: 467px;
}
#program #program_container_top {
  width: 100%;
  margin-top: 95px;
  margin-bottom: 43px;
  content: "";
  display: table;
  clear: both;
}
#program #program_container_top #program_img {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
  float: left;
  margin-right: 47px;
}
#program #program_container_top p {
  float: left;
  color: #868686;
  font-size: 14px;
}
#program #program_container_top a {
  float: right;
  text-decoration: none;
  color: #f72b0c;
  font-size: 13px;
  line-height: 31px;
}
#program #program_container_bottom {
  width: 100%;
  height: 268px;
  margin-top: 51px;
}
#program #program_container_bottom #days_list {
  width: 100%;
  display: flex;
  color: white;
}
#program #program_container_bottom #days_list #program_single_day {
  width: calc(100% / 6);
  background-color: #f72b0c;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
#program #program_container_bottom #days_list #program_single_day #program_day_n {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
#program #program_container_bottom #days_list #program_single_day #program_day_date {
  font-size: 12px;
  opacity: 0.8;
}
#program #program_container_bottom #days_list #program_single_day:first-child {
  background-color: #bf351f;
}
#program #program_container_bottom #days_list #program_single_day:nth-child(2), #program #program_container_bottom #days_list #program_single_day:nth-child(3), #program #program_container_bottom #days_list #program_single_day:nth-child(4), #program #program_container_bottom #days_list #program_single_day:nth-child(5) {
  border-right: 1px solid rgba(39, 39, 39, 0.3);
}
#program #program_container_bottom #welcoming {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
}
#program #program_container_bottom #welcoming #location_apointment {
  width: 29%;
  margin-top: 46px;
  margin-left: 37px;
}
#program #program_container_bottom #welcoming #location_apointment i {
  color: #868686;
  margin-right: 16px;
  margin-bottom: 17px;
  font-size: 13px;
}
#program #program_container_bottom #welcoming #location_apointment div span {
  font-size: 12px;
  color: #868686;
}
#program #program_container_bottom #welcoming #location_apointment div:last-child span {
  color: #f72b0c;
  font-size: 12px;
}
#program #program_container_bottom #welcoming #welcoming_introduction {
  width: 71%;
  margin-top: 46px;
}
#program #program_container_bottom #welcoming #welcoming_introduction #welcoming_title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #272727;
  font-weight: bold;
}
#program #program_container_bottom #welcoming #welcoming_introduction p {
  font-size: 13px;
  color: #868686;
  margin-top: 22px;
  margin-bottom: 25px;
}
#program #program_container_bottom #welcoming #welcoming_introduction img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

#map {
  width: 100%;
  height: 338px;
}
#map iframe {
  width: 100%;
  height: 100%;
}

#location_building {
  width: 100%;
  height: 343px;
  border-top: 9px solid white;
  background-image: url("https://cdn2.civitatis.com/estados-unidos/nueva-york/guia/times-square.jpg");
  opacity: 1;
}
#location_building .layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#location_building .layover #location_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#location_building .layover #location_container #location_img {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 41px;
}
#location_building .layover #location_container h3 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#location_building .layover #location_container #position_gd_building {
  font-size: 14px;
  opacity: 0.8;
}
#location_building .layover #location_container #position_gd_building i {
  font-size: 11px;
  margin-right: 7px;
}
#location_building .layover #location_container #check_for_accomodation {
  color: #f72b0c;
  margin-top: 19px;
  margin-bottom: 28px;
  cursor: pointer;
}
#location_building .layover #location_container #contacts_gd_building {
  border-top: 2px solid white;
  padding-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}
#location_building .layover #location_container #contacts_gd_building i {
  font-size: 11px;
  margin-right: 7px;
}
#location_building .layover #location_container #contacts_gd_building .fas.fa-envelope {
  margin-left: 18px;
}

#recent_news {
  width: 100%;
  height: 460px;
}
#recent_news #recent_news_top {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 30px;
}
#recent_news #recent_news_top #recent_news_img {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
}
#recent_news #recent_news_top a {
  text-decoration: none;
  color: #f72b0c;
  font-size: 13px;
  line-height: 31px;
}
#recent_news #recent_news_bottom {
  display: flex;
  justify-content: space-between;
}
#recent_news #recent_news_bottom .last_news {
  width: 263px;
  height: 320px;
}
#recent_news #recent_news_bottom .last_news .img_news {
  width: 100%;
  height: 150px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}
#recent_news #recent_news_bottom .last_news .img_news .sticky_post {
  width: 110px;
  height: 25px;
  background-color: #272727;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  letter-spacing: 1px;
  visibility: hidden;
}
#recent_news #recent_news_bottom .last_news .img_news .sticky_post i {
  font-size: 10px;
  padding-right: 2px;
}
#recent_news #recent_news_bottom .last_news .img_news:hover .sticky_post {
  visibility: visible;
}
#recent_news #recent_news_bottom .last_news .news_comments {
  margin-top: 26px;
  margin-bottom: 13px;
  font-size: 14px;
  color: #868686;
}
#recent_news #recent_news_bottom .last_news .news_comments #comma {
  padding-left: 5px;
  padding-right: 5px;
}
#recent_news #recent_news_bottom .last_news .news_title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
#recent_news #recent_news_bottom .last_news .news_preview {
  font-size: 14px;
  color: #868686;
  padding-bottom: 10px;
}
#recent_news #recent_news_bottom .last_news .news_readmore {
  text-decoration: none;
  color: #f72b0c;
  font-size: 13px;
  line-height: 31px;
}

#tickets {
  width: 100%;
  height: 513px;
  background-image: url("../images/personequadri.jpg");
  background-position: center;
}
#tickets .layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#tickets .layover .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tickets #ticket_title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 48px;
}
#tickets #tickets_wallet {
  display: flex;
  justify-content: space-between;
}
#tickets #tickets_wallet .single_ticket {
  width: 262px;
  height: 302px;
  margin: 0 11px;
}
#tickets #tickets_wallet .single_ticket .price_block {
  width: 100%;
  height: 76px;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
#tickets #tickets_wallet .single_ticket .price_block .passes_days {
  color: #272727;
}
#tickets #tickets_wallet .single_ticket .price_block .price_days {
  color: #f72b0c;
  font-size: 14px;
  margin-top: 5px;
}
#tickets #tickets_wallet .single_ticket .price_block .featured {
  width: 97px;
  height: 25px;
  background-color: #f72b0c;
  position: absolute;
  transform: rotate(42deg);
  right: -24px;
  top: 8px;
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tickets #tickets_wallet .single_ticket .activities_block {
  height: calc(302px - 76px - 40px);
  background-color: white;
  color: #868686;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tickets #tickets_wallet .single_ticket .activities_block .single_active {
  padding: 7px 0;
  font-size: 14px;
}
#tickets #tickets_wallet .single_ticket .booknow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #f72b0c;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
