<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <header>
      <div class="wrapper">
        <img src="images/logo.png" alt="">
        <nav>
          <a v-for="navName in linkHeader" :href="navName.link">
            <span class="name">{{ navName.name }}</span>
            <span class="active"></span>
          </a>
          <i class="fas fa-search"></i>
        </nav>
      </div>
    </header>
    <main>
      <div id="jumbotron">
        <div class="wrapper">
          <div id="text_jumbotron">
            <div id="conference_on">conference on</div>
            <div id="social_networks">social networks</div>
            <div id="white_lane"></div>
            <div id="dates_conferences">
              <span>23 - 26 may 2019</span>
              <span>/</span>
              <span>san francisco</span>
              <span>/</span>
              <span>8 speakers</span>
            </div>
            <div id="register_btn">register online</div>
          </div>
        </div>
      </div>
      <div id="who_we_are">
        <div class="wrapper">
          <div v-for="who in whoWhatWhy" class="who_what_why">
            <div class="icon_who">
              <i :class="who.icon"></i>
            </div>
            <div class="text_who">
              <div class="title">{{ who.title }}</div>
              <p class="paragraph">{{ who.paragraph }}</p>
              <a class="learn_more" href="#"><em>Learn More</em></a>
            </div>
          </div>
        </div>
      </div>
      <div id="countdown">
        <div class="wrapper">
          <div id="days_hours">
            <div class="days">
              <div class="number">3399</div>
              <div class="text_number">days</div>
            </div>
            <div class="hours_mins_secs" v-for="block_countdown in numbersOfCountdown">
              <div class="number">{{ block_countdown.number }}</div>
              <div class="text_number">{{ block_countdown.textNumber }}</div>
            </div>
          </div>
          <div id="subscribe">subscribe for updates</div>
          <div id="form_register">
            <input type="text" placeholder="Please fill your email">
            <div class="btn_subscribe">subscribe</div>
          </div>
        </div>
      </div>
      <div id="speakers">
        <div class="wrapper">
          <div id="speakers_chevron">
            <div id="speakers_img">speakers</div>
            <div id="speakers_chevrons">
              <div id="chevron_left"><i class="fas fa-chevron-left"></i></div>
              <div id="chevron_right"><i class="fas fa-chevron-right"></i></div>
            </div>
          </div>
          <div id="personages">
            <div id="speakers_faces" v-for="personage in speakers">
              <div class="personage_pic" v-bind:style="{ backgroundImage:'url('+ personage.photo +')'}">
                <div class="layover">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </div>
              <div id="personage_name">{{ personage.name }}</div>
              <div id="personage_profession"><em>{{ personage.profession }}</em></div>
            </div>
          </div>
        </div>
      </div>
      <div id="program">
        <div class="wrapper">
          <div id="program_container_top">
            <div id="program_img">program</div>
            <p id="program_explanation">
              This conference run through all 4 days from 23-26 May 2016.<br>
              We also provide free lunch and coffee break in each day.
            </p>
            <a href="#"><em>View Full Program</em></a>
          </div>
          <div id="program_container_bottom">
            <div id="days_list">
              <div id="program_single_day" v-for="day in programSingleDay">
                <div id="program_day_n">{{ day.day }}</div>
                <div id="program_day_date">{{ day.date }}</div>
              </div>
            </div>
            <div id="welcoming">
              <div id="location_apointment">
                <div>
                  <i class="far fa-clock"></i>
                  <span>09:00 - 10:30</span>
                </div>
                <div>
                  <i class="fas fa-paper-plane"></i>
                  <span>ROOM A</span>
                </div>
                <div>
                  <i class="fas fa-user-alt"></i>
                  <span>LAURENCE FRANCIS</span>
                </div>
              </div>
              <div id="welcoming_introduction">
                <div id="welcoming_title">welcoming and introduction</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="images/speaker-8.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.6396958535654!2d-0.12913789171585277!3d51.50809004490883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ce3941eb1f%3A0x1a5342fdf089c627!2sTrafalgar%20Square!5e0!3m2!1sit!2sit!4v1610635009553!5m2!1sit!2sit" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </div>
      <div id="location_building">
        <div class="layover">
          <div class="wrapper">
            <div id="location_container">
              <div id="location_img">location</div>
              <h3>gd building, grand conference room</h3>
              <div id="position_gd_building">
                <i class="fas fa-paper-plane"></i>
                11 GD Building, River Mall, New york, USA 8879
              </div>
              <div id="check_for_accomodation">Check For Accomodation Here</div>
              <div id="contacts_gd_building">
                <i class="fas fa-phone-alt"></i>
                +1-112-222-3344
                <i class="fas fa-envelope"></i>
                Contact@TheKeynoteTheme.com
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="recent_news">
        <div class="wrapper">
          <div id="recent_news_top">
            <div id="recent_news_img">recent news</div>
            <a href="#"><em>Read All News</em></a>
          </div>
          <div id="recent_news_bottom">
            <div class="last_news" v-for="news in recentNews">
              <div class="img_news" v-bind:style="{ backgroundImage:'url('+ news.img +')'}">
                <div class="sticky_post">
                  <i class="fas fa-bullhorn"></i>
                  sticky post
                </div>
              </div>
              <div class="news_comments"><em>{{ news.date }} <span id="comma">/</span> {{ news.comments }}</em></div>
              <div class="news_title">{{ news.title }}</div>
              <div class="news_preview">{{ news.preview }}</div>
              <a href="#" class="news_readmore"><em>Read More</em></a>
            </div>
          </div>
        </div>
      </div>
      <div id="tickets">
        <div class="layover">
          <div class="wrapper">
            <div id="ticket_title">tickets</div>
            <div id="tickets_wallet">
              <div class="single_ticket" v-for="ticket in ticketsOnSale">
                <div class="price_block">
                  <div class="featured">Featured!</div>
                  <div class="passes_days">{{ ticket.days }}</div>
                  <div class="price_days">{{ ticket.price }}</div>
                </div>
                <div class="activities_block">
                  <div class="single_active" v-for="active in ticket.activities">
                    <em>{{ active }}</em>
                  </div>
                </div>
                <div class="booknow">book now</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="script.js" charset="utf-8"></script>
</body>
</html>
