* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 58%;
  height: 100%;
  margin: auto;
}
.btn_subscribe {
  text-transform: uppercase;
  background-color: $red_hover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 2px solid #4A4A46;
}
