footer {
  width: 100%;
  & #footer_top {
    width: 100%;
    height: 267px;
    background-color: #222222;
    & .wrapper {
      display: flex;
      justify-content: space-between;
      & #about_us,
      #recent_news,
      #get_seat,
      #gallery {
        width: 192px;
      }
      & h6 {
        text-transform: uppercase;
        color: white;
        margin-top: 45px;
        margin-bottom: 18px;
        opacity: 0.7;
        letter-spacing: 1px;
      }
      & p {
        color: white;
        opacity: 0.4;
        font-size: 11px;
        margin-bottom: 27px;
        line-height: 1.6;
      }
      & #about_us {
        & #icons_social {
          display: flex;
          & .icon {
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 3px;
            margin-right: 10px;
            font-size: 13px;
            overflow: hidden;
            @include centramento;
          }
          & .icon:last-child {
            font-size: 23px;
            justify-content: center;
            align-items: baseline;
          }
        }
      }
      & #recent_news {
        & .single_news {
          margin-bottom: 5px;
          & .fas.fa-chevron-right {
            color: white;
            font-size: 6px;
            margin-right: 9px;
            opacity: 0.4;
          }
          & span:last-child {
            text-transform: uppercase;
            opacity: 0.3;
            font-size: 10px;
            color: white;
          }
        }
      }
      & #get_seat {
        & .btn_subscribe {
          width: 128px;
          padding: 10px 1px;
          font-size: 9px;
          letter-spacing: 1px;
          &:hover {
            @include hoveredbtn;
          }
        }
      }
      & #gallery_container {
        display: flex;
        flex-wrap: wrap;
        & img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          margin: 4px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  & #footer_bottom {
    width: 100%;
    height: 50px;
    background-color: #222222;
    & .layover {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
    & .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.3;
      font-size: 10px;
      color: white;
      letter-spacing: 1px;
      & div:first-child {

      }
      & div:last-child {
        & a {
          text-decoration: none;
          font-size: 10px;
          color: white;
        }
      }
    }
  }
}
