#jumbotron {
  width: 100%;
  height: 450px;
  background-image: url("../images/slider-1-bg.jpg");
  @include posizionamento_sfondo;
  text-align: center;
  color: white;
  text-transform: uppercase;
  @include centramento;
  & #text_jumbotron {
    @include centramento;
    & #conference_on {
      font-size: 41px;
      margin-top: 103px;
      margin-bottom: 15px;
    }
    & #social_networks {
      font-size: 65px;
      font-weight: 900;
      padding-bottom: 23px;
    }
    & #white_lane {
      height: 3px;
      width: 395px;
      background-color: white;
      margin-bottom: 10px;
    }
    & #dates_conferences {
      width: 395px;
      display: flex;
      justify-content: space-between;
      font-weight: 900;
      font-size: 14px;
    }
    & #register_btn {
      width: 159px;
      height: 42px;
      background-color: $red_hover;
      border-radius: 4px;
      @include centramento;
      font-size: 12px;
      margin-top: 30px;
    }
    & #register_btn:hover {
      background-color: #F6523A;
      cursor: pointer;
    }
  }
}
#who_we_are {
  width: 100%;
  height: 201px;
  & .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  & .who_what_why {
    width: 295px;
    height: 201px;
    display: flex;
    padding-right: 20px;
    & .icon_who {
      width: 45%;
      padding-top: 47px;
      font-size: 21px;
      & i {
        color: $grey_dusty;
      }
    }
    & .text_who {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      & .title {
        text-transform: uppercase;
        padding-bottom: 20px;
        font-size: 13px;
      }
      & .paragraph {
        padding-bottom: 20px;
        color: $grey_dusty;
        font-size: 13px;
      }
      & .learn_more {
        @include orange_link;
      }
    }
  }
}
#countdown {
  width: 100%;
  height: 370px;
  background-image: url(../images/coutdown-bg1.jpg);
  background-size: cover;
  background-position: center;
  // transform: scale(1.2);
  & .wrapper {
    width: 100%;
    height: 100%;
    @include centramento;
    & #days_hours {
      display: flex;
      flex-direction: row;
      padding-bottom: 42px;
      & .days {
        width: 141px;
        height: 106px;
        background-color: #2E2C2C;
        opacity: 0.9;
        border-radius: 5px;
        margin-right: 17px;
        @include centramento;
      }
      & .hours_mins_secs {
        width: 112px;
        height: 106px;
        background-color: $grey_masala;
        opacity: 0.9;
        border-radius: 5px;
        margin-right: 17px;
        @include centramento;
      }
      & .number {
        color: white;
        font-size: 43px;
        font-weight: 900;
        padding-bottom: 3px;
      }
      & .text_number {
        text-transform: uppercase;
        color: white;
        font-size: 11px;
      }
    }
    #subscribe {
      text-transform: uppercase;
      color: $grey_masala;
      font-weight: 900;
      letter-spacing: 2px;
      margin-bottom: 32px;
    }
    #form_register {
      display: flex;
      & input {
        width: 304px;
        height: 39px;
        margin-right: 11px;
        padding: 16px;
        font-size: 11px;
        border: none;
        &::placeholder {
          color: $grey_cloud;
        }
      }
      & .btn_subscribe {
        width: 104px;
        height: 39px;
        text-transform: uppercase;
        background-color: $red_hover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 2px solid #4A4A46;
      }
    }
  }
}
#speakers {
  width: 100%;
  height: 378px;
  background-color: #F3F3F3;
  & #speakers_chevron {
    padding-top: 60px;
    padding-bottom: 43px;
    display: flex;
    justify-content: space-between;
    & #speakers_img {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 900;
      letter-spacing: 2px;
    }
    & #speakers_chevrons {
      display: flex;
      & #chevron_left {
        width: 26px;
        height: 26px;
        background-color: $red_hover;
        border-radius: 3px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 7px;
        cursor: pointer;
      }
      & #chevron_right {
        width: 26px;
        height: 26px;
        background-color: $red_hover;
        border-radius: 3px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 7px;
        cursor: pointer;
      }
    }
  }
  & #personages {
    display: flex;
    justify-content: space-between;
    & #speakers_faces {
      width: 191px;
      height: 202px;
      & img {
        width: 191px;
      }
      & .personage_pic {
        width: 191px;
        height: 138px;
        background-size: contain;
        background-repeat: no-repeat;
        & .layover {
          width: 100%;
          height: 100%;
          background-color: rgba(247, 43, 12, 0.7);
          visibility: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          & i {
            padding: 0 8px;
          }
        }
        &:hover .layover {
          visibility: visible;
          cursor: pointer;
        }
      }
      & #personage_name {
        margin-top: 14px;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        font-size: 13px;
      }
      & #personage_profession {
        text-align: center;
        font-size: 12px;
        color: $grey_header;
      }
    }
  }
}
#program {
  width: 100%;
  height: 467px;
  & #program_container_top {
    width: 100%;
    margin-top: 95px;
    margin-bottom: 43px;
    @include clearfix;
    & #program_img {
      @include title_big;
      float: left;
      margin-right: 47px;
    }
    & p {
      float: left;
      color: $grey_header;
      font-size: 14px;
    }
    & a {
      float: right;
      @include orange_link;
    }
  }
  & #program_container_bottom {
    width: 100%;
    height: 268px;
    margin-top: 51px;
    & #days_list {
      width: 100%;
      display: flex;
      color: white;
      & #program_single_day {
        width: calc(100% / 6);
        background-color: $red_hover;
        height: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        & #program_day_n {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }
        & #program_day_date {
          font-size: 12px;
          opacity: 0.8;
        }
        &:first-child {
          background-color: #bf351f;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          border-right: 1px solid rgba(39, 39, 39, 0.3);
        }
      }
    }
    & #welcoming {
      width: 100%;
      height: 100%;
      background-color: #f3f3f3;
      display: flex;
      & #location_apointment {
        width: 29%;
        margin-top: 46px;
        margin-left: 37px;
        & i {
          color: #868686;
          margin-right:16px;
          margin-bottom:17px;
          font-size: 13px;
        }
        & div span {
          font-size: 12px;
          color: #868686;
        }
        & div:last-child span {
          color: $red_hover;
          font-size: 12px;
        }
      }
      & #welcoming_introduction {
        width: 71%;
        margin-top: 46px;
        & #welcoming_title {
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 2px;
          color: $black_mineshaft;
          font-weight: bold;
        }
        & p {
          font-size: 13px;
          color: #868686;
          margin-top: 22px;
          margin-bottom: 25px;
        }
        & img {
          width: 35px;
          height: 35px;
          object-fit: cover;
        }
      }
    }
  }
}
#map {
  width: 100%;
  height: 338px;
  & iframe {
    width: 100%;
    height: 100%;
  }
}
#location_building {
  width: 100%;
  height: 343px;
  border-top: 9px solid white;
  background-image: url('https://cdn2.civitatis.com/estados-unidos/nueva-york/guia/times-square.jpg');
  opacity: 1;
  & .layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    & #location_container {
      width: 100%;
      height: 100%;
      @include centramento;
      & #location_img {
        @include title_big;
        margin-top: 41px;
      }
      & h3 {
        @include title_big;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      & #position_gd_building {
        font-size: 14px;
        opacity: 0.8;
        & i {
          font-size: 11px;
          margin-right: 7px;
        }
      }
      & #check_for_accomodation {
        color: $red_hover;
        margin-top: 19px;
        margin-bottom: 28px;
        cursor: pointer;
      }
      & #contacts_gd_building {
        border-top: 2px solid white;
        padding-top: 5px;
        font-size: 14px;
        opacity: 0.8;
        & i {
          font-size: 11px;
          margin-right: 7px;
        }
        & .fas.fa-envelope {
          margin-left: 18px;
        }
      }
    }
  }
}
#recent_news {
  width: 100%;
  height: 460px;
  & #recent_news_top {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 30px;
    & #recent_news_img {
      @include title_small;
    }
    & a {
      @include orange_link;
    }
  }
  & #recent_news_bottom {
    display: flex;
    justify-content: space-between;
    & .last_news {
      width: 263px;
      height: 320px;
      & .img_news {
        width: 100%;
        height: 150px;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        cursor: pointer;
        & .sticky_post {
          width: 110px;
          height: 25px;
          background-color: $black_mineshaft;
          color: white;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          letter-spacing: 1px;
          visibility: hidden;
          & i {
            font-size: 10px;
            padding-right: 2px;
          }
        }
        &:hover .sticky_post {
          visibility: visible;
        }
      }
      & .news_comments {
        margin-top: 26px;
        margin-bottom: 13px;
        font-size: 14px;
        color: $grey_header;
        & #comma {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      & .news_title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
      }
      & .news_preview {
        font-size: 14px;
        color: $grey_header;
        padding-bottom: 10px;
      }
      & .news_readmore {
        @include orange_link;
      }
    }
  }
}
#tickets {
  width: 100%;
  height: 513px;
  background-image: url('../images/personequadri.jpg');
  background-position: center;
  & .layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    & .wrapper {
      @include centramento;
    }
  }
  & #ticket_title {
    @include title_big;
    color: white;
    margin-bottom: 48px;
  }
  & #tickets_wallet {
    display: flex;
    justify-content: space-between;
    & .single_ticket {
      width: 262px;
      height: 302px;
      margin: 0 11px;
      & .price_block {
        width: 100%;
        height: 76px;
        background-color: #E9E9E9;
        @include centramento;
        font-weight: bold;
        position: relative;
        overflow: hidden;
        & .passes_days {
          color: $black_mineshaft;
        }
        & .price_days {
          color: $red_hover;
          font-size: 14px;
          margin-top: 5px;
        }
        & .featured {
          width: 97px;
          height: 25px;
          background-color: $red_hover;
          position: absolute;
          transform: rotate(42deg);
          right: -24px;
          top: 8px;
          color: white;
          font-size: 10px;
          @include centramento;
        }
      }
      & .activities_block {
        height: calc(302px - 76px - 40px);
        background-color: white;
        color: $grey_header;
        @include centramento;
        & .single_active {
          padding: 7px 0;
          font-size: 14px;
        }
      }
      & .booknow {
        @include centramento;
        width: 100%;
        height: 40px;
        background-color: $red_hover;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
#presentation {
  width: 100%;
  height: 373px;
  & .wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
  }
  & #presentation_block {
    width: 50%;
    margin-bottom: 30px;
    & #presentation_title {
      @include title_small;
      margin-bottom: 30px;
    }
    & iframe {
      width: 342px;
      height: 227px;
      float: right;
      margin-right: 40px;
      background-image: url('images/schermo.jpg');
    }
  }
  & #twitter_block {
    & #twitter_title {
      @include title_small;
      margin-bottom: 50px;
    }
    & .single_tweet {
      width: 100%;
      margin-bottom: 21px;
      display: flex;
      font-size: 13px;
      color: $grey_header;
      & i {
        font-size: 20px;
        color: #46BEEE;
        margin-right: 14px;
      }
      & .text_tweet {
        & .preview_tweet {

        }
        & .date_tweet {
          margin-top: 12px;
        }
      }
    }
  }
}
#sponsors {
  width: 100%;
  height: 357px;
  background-color: #f3f3f3;
  & .wrapper {
    @include centramento;
    & #sponsors_title {
      margin-top: 65px;
      @include title_big;
    }
    & #sponsors_subtitle {
      width: 36%;
      text-align: center;
      margin-top: 28px;
      margin-bottom: 48px;
      color: $grey_header;
      font-size: 14px;
    }
    & #sponsors_container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      & .sponsors_block {
        width: 117px;
        height: 117px;
        background-size: contain;
        @include centramento;
      }
    }
  }
}
