#jumbotron {
  width: 100%;
  height: 450px;
  background-image: url("../images/slider-1-bg.jpg");
  @include posizionamento_sfondo;
  text-align: center;
  color: white;
  text-transform: uppercase;
  @include centramento;
  & #text_jumbotron {
    @include centramento;
    & #conference_on {
      font-size: 41px;
      padding-bottom: 15px;
    }
    & #social_networks {
      font-size: 65px;
      font-weight: 900;
      padding-bottom: 23px;
    }
    & #white_lane {
      height: 3px;
      width: 395px;
      background-color: white;
      margin-bottom: 10px;
    }
    & #dates_conferences {
      width: 395px;
      display: flex;
      justify-content: space-between;
      font-weight: 900;
      font-size: 14px;
    }
    & #register_btn {
      width: 159px;
      height: 42px;
      background-color: $red_hover;
      border-radius: 4px;
      @include centramento;
      font-size: 12px;
      margin-top: 30px;
    }
    & #register_btn:hover {
      background-color: #F6523A;
      cursor: pointer;
    }
  }
}
#who_we_are {
  width: 100%;
  height: 201px;
  & .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  & .who_what_why {
    width: 295px;
    height: 201px;
    display: flex;
    padding-right: 20px;
    & .icon_who {
      width: 45%;
      padding-top: 47px;
      font-size: 21px;
      & i {
        color: $grey_dusty;
      }
    }
    & .text_who {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      & .title {
        text-transform: uppercase;
        padding-bottom: 20px;
        font-size: 13px;
      }
      & .paragraph {
        padding-bottom: 20px;
        color: $grey_dusty;
        font-size: 13px;
      }
      & .learn_more {
        color: $red_hover;
        font-size: 13px;
        text-decoration: none;
      }
    }
  }
}
#countdown {
  width: 100%;
  height: 370px;
  background-image: url(../images/coutdown-bg1.jpg);
  background-size: cover;
  background-position: center;
  // transform: scale(1.2);
  & .wrapper {
    width: 100%;
    height: 100%;
    @include centramento;
    & #days_hours {
      display: flex;
      flex-direction: row;
      padding-bottom: 42px;
      & .days {
        width: 141px;
        height: 106px;
        background-color: #2E2C2C;
        opacity: 0.9;
        border-radius: 5px;
        margin-right: 17px;
        @include centramento;
      }
      & .hours_mins_secs {
        width: 112px;
        height: 106px;
        background-color: $grey_masala;
        opacity: 0.9;
        border-radius: 5px;
        margin-right: 17px;
        @include centramento;
      }
      & .number {
        @include numeri_del_countdown;
        font-weight: 900;
        padding-bottom: 3px;
      }
      & .text_number {
        text-transform: uppercase;
        color: white;
        font-size: 13px;
      }
    }
    #subscribe {
      text-transform: uppercase;
      color: $grey_masala;
      font-weight: 900;
      letter-spacing: 2px;
      margin-bottom: 32px;
    }
    #form_register {
      display: flex;
      & input {
        width: 304px;
        height: 39px;
        margin-right: 11px;
        padding: 16px;
        font-size: 11px;
        border: none;
        &::placeholder {
          color: $grey_cloud;
        }
      }
      & .btn_subscribe {
        width: 104px;
        height: 39px;
        text-transform: uppercase;
        background-color: $red_hover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 2px solid #4A4A46;
      }
    }
  }
}
#speakers {
  width: 100%;
  height: 378px;
  background-color: #F3F3F3;
  & #speakers_chevron {
    padding-top: 63px;
    padding-bottom: 49px;
    display: flex;
    justify-content: space-between;
    & #speakers_img {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 900;
      letter-spacing: 2px;
    }
    & #speakers_chevrons {
      display: flex;
      & #chevron_left {
        width: 26px;
        height: 26px;
        background-color: $red_hover;
        border-radius: 3px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 7px;
        cursor: pointer;
      }
      & #chevron_right {
        width: 26px;
        height: 26px;
        background-color: $red_hover;
        border-radius: 3px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 7px;
        cursor: pointer;
      }
    }
  }
  & #personages {
    display: flex;
    justify-content: space-between;
    & #speakers_faces {
      width: 191px;
      height: 202px;
      background-color: red;
    }
  }
}
