@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}
@mixin posizionamento_sfondo {
  background-size: cover;
  background-position: center;
}
@mixin centramento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin title_big {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
}
@mixin title_small {

}
